os:
  - linux
services:
  - docker
language: node_js
node_js:
  - "10.16.0"
addons:
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
sudo: false
cache:
  directories:
    - node_modules
before_install:
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install -g ionic
  - export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
  - echo "TRAVIS_BRANCH=$TRAVIS_BRANCH, PR=$PR, BRANCH=$BRANCH"
install:
  - git clone https://github.com/ionic-team/starters.git
  - cd starters && git submodule update --init
  - cd $TRAVIS_BUILD_DIR/starters/angular/community/oktadeveloper/jhipster && git pull origin $BRANCH
  - cd $TRAVIS_BUILD_DIR/starters && npm i
script:
  - cd $TRAVIS_BUILD_DIR/starters && npm run src:build
  - cd $TRAVIS_BUILD_DIR/starters && npm run starters:build -- angular/community/oktadeveloper/jhipster
  - cd $TRAVIS_BUILD_DIR/starters && npm run starters:test -- angular-community-oktadeveloper-jhipster
  - cd $TRAVIS_BUILD_DIR/starters/build/angular-community-oktadeveloper-jhipster
  - ionic serve &
  - sleep 20
  - npm run e2e
notifications:
  webhooks:
    on_success: always
    on_failure: always
    on_start: false
