os:
  - linux
services:
  - docker
language: node_js
node_js:
  - "9.8.0"
addons:
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
sudo: false
cache:
  directories:
    - node_modules
before_install:
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install -g ionic
install:
  - git clone https://github.com/ionic-team/starters.git
  - cd starters && git submodule update --init
  - cd $TRAVIS_BUILD_DIR/starters/ionic-angular/community/oktadeveloper/jhipster && git pull origin $TRAVIS_BRANCH
  - cd $TRAVIS_BUILD_DIR/starters && npm run starters:build -- ionic-angular/community/oktadeveloper/jhipster
  - cd $TRAVIS_BUILD_DIR/starters/build/ionic-angular-community-oktadeveloper-jhipster
script:
  - npm test
  - ionic-serve &
  - npm run e2e
notifications:
  webhooks:
    on_success: always
    on_failure: always
    on_start: false