dist: bionic
os:
  - linux
services:
  - docker
  - xvfb
language: node_js
node_js:
  - "10.16.3"
addons:
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
sudo: false
cache:
  directories:
    - node_modules
before_install:
  - npm install -g ionic @angular/cli
  - export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
  - echo "TRAVIS_BRANCH=$TRAVIS_BRANCH, PR=$PR, BRANCH=$BRANCH"
install:
  - cd $HOME/build && git clone https://github.com/ionic-team/starters.git ionic-team/starters
  - cd $HOME/build/ionic-team/starters
  - git submodule update --init
  - npm install
  - cd angular/community/oktadeveloper/jhipster && git pull origin $BRANCH
script:
  - cd $HOME/build/ionic-team/starters && npm run src:build
  - npm run starters:build -- angular/community/oktadeveloper/jhipster
  # npm run starters:test -- angular-community-oktadeveloper-jhipster
  - cd build/angular-community-oktadeveloper-jhipster
  - npm install test
  - ls -la .
  - cat package.json
  - ionic serve &
  - sleep 20
  - npm run e2e
notifications:
  webhooks:
    on_success: always
    on_failure: always
    on_start: false
