<ion-header>
  <ion-toolbar>
    <ion-title>
      Welcome, Java Hipster!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <span class="hipster"></span> -->
  <div>
      <!-- <ion-button expand="block" (click)="login()" id="signIn">{{ 'LOGIN' | translate }}</ion-button> -->
      <ion-button expand="block" (click)="login()" id="signIn">Login</ion-button>

      <p>Don't have an account yet?</p>
      <!-- <ion-button expand="block" (click)="signup()">{{ 'SIGNUP' | translate }}</ion-button> -->
      <ion-button expand="block" (click)="signup()">Signup</ion-button>


  </div>
</ion-content>
